@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 100;
  }
}

@media (prefers-reduced-motion: no-preference) {
  [slide-enter],
  .slide-enter,
  .slide-enter-content > * {
    --enter-stage: 0;
    --enter-step: 50ms;
    --enter-initial: 0ms;
    animation: slide-enter 1s both 1;
    animation-delay: calc(
      var(--enter-initial) + var(--enter-stage) * var(--enter-step)
    );
  }

  .slide-enter-content > *:nth-child(1) {
    --enter-stage: 1;
  }
  .slide-enter-content > *:nth-child(2) {
    --enter-stage: 2;
  }
  .slide-enter-content > *:nth-child(3) {
    --enter-stage: 3;
  }
  .slide-enter-content > *:nth-child(4) {
    --enter-stage: 4;
  }
  .slide-enter-content > *:nth-child(5) {
    --enter-stage: 5;
  }
  .slide-enter-content > *:nth-child(6) {
    --enter-stage: 6;
  }
  .slide-enter-content > *:nth-child(7) {
    --enter-stage: 7;
  }
  .slide-enter-content > *:nth-child(8) {
    --enter-stage: 8;
  }
  .slide-enter-content > *:nth-child(9) {
    --enter-stage: 9;
  }
  .slide-enter-content > *:nth-child(10) {
    --enter-stage: 10;
  }
  .slide-enter-content > *:nth-child(11) {
    --enter-stage: 11;
  }
  .slide-enter-content > *:nth-child(12) {
    --enter-stage: 12;
  }
  .slide-enter-content > *:nth-child(13) {
    --enter-stage: 13;
  }
  .slide-enter-content > *:nth-child(14) {
    --enter-stage: 14;
  }
  .slide-enter-content > *:nth-child(15) {
    --enter-stage: 15;
  }
  .slide-enter-content > *:nth-child(16) {
    --enter-stage: 16;
  }
  .slide-enter-content > *:nth-child(17) {
    --enter-stage: 17;
  }
  .slide-enter-content > *:nth-child(18) {
    --enter-stage: 18;
  }
  .slide-enter-content > *:nth-child(19) {
    --enter-stage: 19;
  }
  .slide-enter-content > *:nth-child(20) {
    --enter-stage: 20;
  }
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 100vh;
  width: 10px;
  background: white;
  cursor: ew-resize;
}
input[type="range"]::-moz-range-thumb {
  height: 100vh;
  width: 10px;
  background: white;
  cursor: ew-resize;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
}
input[type="range"]::-moz-range-track {
  background: transparent;
}
